.box{
  width: 100%;
  height: 40vh;
  background-color: lightgray;
  padding-top: 5vh;
  padding-left: 5vw;
  word-break: break-all;
  overflow-y: scroll;
  scroll-behavior: auto;
}
.wrapperAdd{
  width: 80vw;
  height: 100vh;
  margin: auto;
}
.listForm{
  margin-top: 2vh;
  display: none;
}
.inputBox{
  width: 95%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
.listStyle{
  width: 55vw;
  height: 25px;
  margin-left: 55px;
  border-radius: 3px;
  border-width: 2px;
}
.listStyle:focus{
  border-color: lightskyblue;
  border-width: 2px;
  outline: none;
}
.buttonListStyle{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: green;
}
.buttonlistShadow{
  width: 106px;
  height: 34px;
  display: flex;
  border-radius: 3px;
  justify-content:center;
  align-items: center;
}
.buttonlistShadow:hover{
  background-color: greenyellow;
}
.tableStyle{
  width: 110px;
  height: 25px;
  border-radius: 3px;
  border-width: 2px;
}
.tableForm{
  margin-top: 1vh;
  display: none;
}
.marginLeft{
  margin-left: 65px;
}
.show{
  display: block;
}
.showColor{
  opacity: 1;
}
